<section>
    <h1>
        Generate your custom response
    </h1>
    <form class="mock-form" [formGroup]="mockForm">
        <div>


            <mat-form-field>
                <mat-select placeholder="Status Code">
                    <mat-option *ngFor="let item of statusCodes" [value]="item">
                        {{item}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-select placeholder="Content Type">
                    <mat-option *ngFor="let item of contentTypes" [value]="item">
                        {{item}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>


            <mat-form-field>
                <mat-select placeholder="Method">
                    <mat-option *ngFor="let item of methods" [value]="item">
                        {{item}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-select placeholder="Сharset">
                    <mat-option *ngFor="let item of charset" [value]="item">
                        {{item}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="body-box">
                <textarea matInput placeholder="Body"></textarea>
            </mat-form-field>
        </div>
        <div>
            <button mat-button>Click me!</button>
            <button mat-button mat-stroked-button>Click me!</button>
        </div>

    </form>


</section>

