<section>
    <h1>
        Generate your custom response
    </h1>
    <div class="url-box" *ngIf="url">
        Your link is ready: <a href="{{url}}" target="_blank">{{url}}</a>
    </div>
    <form class="mock-form" [formGroup]="mockForm" (submit)="createMock();">
        <div>
            <mat-form-field>
                <mat-select placeholder="Status Code" [formControlName]="'status'">
                    <mat-option *ngFor="let item of statusCodes" [value]="item.code">
                        {{item.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-select placeholder="Content Type" [formControlName]="'content-type'">
                    <mat-option *ngFor="let item of contentTypes" [value]="item">
                        {{item}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-select placeholder="Method" [formControlName]="'method'">
                    <mat-option *ngFor="let item of methods" [value]="item">
                        {{item}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-select placeholder="Charset" [formControlName]="'charset'">
                    <mat-option *ngFor="let item of charset" [value]="item">
                        {{item}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div *ngFor="let header of mockForm.controls.headers.controls; let i = index;" formArrayName="headers">
            <mat-form-field [formGroupName]="i">
                <input matInput placeholder="Custom headers kay" [formControlName]="'key' ">
            </mat-form-field>
            <mat-form-field [formGroupName]="i">
                <input matInput placeholder="Custom headers value" [formControlName]="'value' ">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="body-box">
                <textarea matInput placeholder="Body" [formControlName]="'body' "></textarea>
            </mat-form-field>
        </div>
        <div class="wrap-button">
            <button mat-button class="submit-btn" type="submit">Generate my HTTP Response</button>
            <button mat-button type="button" (click)="addHeader()">Custom headers</button>
        </div>
    </form>
</section>

