.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1b2027;
}
.container {
  max-width: 535px;
}
.login-form {
  display: flex;
  flex-direction: column;
}