@import 'variables';

.sidebar {
  width: 200px;
  background-color: $primary-color;
  border-right: 2px solid $border-color;
  color: white;
  padding: 0 10px;
}
.link {
  cursor: pointer;
  &:hover{
    opacity: 0.8;
    text-decoration: underline;
  }
  &:focus {
    outline: 0;
  }
}
ul {
  list-style: none;
  padding: 10px 0;
  li {
    padding: 10px 0;
    cursor: pointer;
  }
}

