<div class="search">
    <input class="search__input" [(ngModel)]="searchStr" type="text" (ngModelChange)="onChange(searchStr)"
           placeholder="Search...">
    <!--<div class="search__group">
        <input id="myProjectsCheck" type="checkbox"
               [(ngModel)]="onlyMyProjects"
               (ngModelChange)="showMyProjects(onlyMyProjects)">
        <label for="myProjectsCheck">Only my projects</label>
    </div>-->
    <div class="buttons">
        <button mat-raised-button type="button" class="margin-right" (click)="openDialog()">Create project</button>
        <button mat-raised-button type="button" (click)="openImportDialog()">
            <i class="material-icons">
                cloud_download
            </i>Import from GitHub
        </button>
    </div>
</div>