<mat-accordion>
    <mat-expansion-panel *ngFor="let ticket of tickets; let i = index"
                         [ngClass]="ticket.archive ? 'archived' : ''"
                         (click)="downloadImage(ticket)"
    >
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{ticket.id + '. ' + ticket.title}}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="content">
            <ul>
                <li>
                    <span class="label">Author email:</span>
                    {{ticket.user.email}}
                </li>
                <li>
                    <span class="label">Author name:</span>
                    <p>{{ticket.user.firstName + ' ' + ticket.user.lastName}}</p>
                </li>
                <li>
                    <span class="label">Date:</span>
                    <p>{{ticket.createDate | date:'medium'}}</p>
                </li>
                <li>
                    <span class="label">Description:</span>
                    <p>{{ticket.description}}</p>
                </li>
            </ul>
            <div class="img-wrapper">
                <a href="">
                    <img [attr.id]="'src' + ticket.id" src="" (click)="openImage($event)" alt="">
                </a>
            </div>
        </div>
        <button *ngIf="!ticket.archive" (click)="archiveTicket(ticket.id, true)" class="archive-btn" mat-icon-button>
            <i class="material-icons" title="Archive this ticket">
                archive
            </i>
        </button>
        <button *ngIf="ticket.archive" (click)="archiveTicket(ticket.id, false)" class="archive-btn" mat-icon-button>
            <i class="material-icons" title="Unarchive this ticket">
                unarchive
            </i>
        </button>
    </mat-expansion-panel>
</mat-accordion>