@import "variables";

.background {
  background-color: $primary-color;
  width: 100%;
  min-height: 100%;
  .form {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    label {
      min-width: 100px;
    }
    &-row {
      &__input {
        resize: vertical;
      }
    }
    .buttons {
      display: flex;
      margin-top: 20px;
      justify-content: space-between;
      button {
        width: 45%;
      }
    }
    a {
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
