.mat-table {
  width: 100%;
  background-color: transparent;
  th, td {
    vertical-align: middle;
  }
}

.mat-raised-button {
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .mat-column-reg-date {
    display: none;
  }
}