<app-user-search (emailChanged)="searchByEmail($event)"></app-user-search>
<table mat-table [dataSource]="users">

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let user"> {{user.id}}</td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let user"> {{user.firstName + ' ' + user.lastName}}</td>
    </ng-container>

    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let user"> {{user.email}}</td>
    </ng-container>

    <ng-container matColumnDef="reg-date">
        <th mat-header-cell *matHeaderCellDef>Registration date</th>
        <td mat-cell *matCellDef="let user"> {{user.createDate | date:'medium'}}</td>
    </ng-container>

    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let user">
            <button mat-button
                    color="primary"
                    (click)="changeUserStatus(user)"
            >{{user.enabled ? 'Enabled' : 'No enabled'}}</button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<button mat-raised-button
        (click)="showMore(currentPage)"
        [disabled]="users.length === totalElements"
>Show more
</button>