<section>
    <nav>
        <ul>
            <li (click)="run()">1n</li>
            <li>2n</li>
            <li>3n</li>
            <li>4n</li>
            <li>5n</li>
        </ul>
    </nav>
    <section class="wrap-code">
        <div class="html">
            <div>
                <input placeholder="html" [(ngModel)]="html">
                <pre><code (highlighted)="onHighlight($event)"
                           [highlight]="html"></code></pre>
            </div>
        </div>
        <div class="style">
            <div>
            <pre><code contenteditable="true" (highlighted)="onHighlight($event)"
                       (input)="onInputCode($event, 'style')"
                       (blur)="onBlurCode('style')"
                       [highlight]="styleCode"></code></pre>
            </div>
        </div>
        <div class="script">
            <div>
            <pre><code contenteditable="true" (highlighted)="onHighlight($event)"
                       (input)="onInputCode($event, 'script')"
                       (blur)="onBlurCode('script')"
                       [highlight]="scriptCode"></code></pre>
            </div>
        </div>
        <!--<div class="result">-->
        <!--<iframe [src]="result | safe"></iframe>-->
        <!--</div>-->
    </section>
</section>