<section>
    <nav>
        <ul class="nav-box">
            <li (click)="run()">
                <i class="material-icons">play_arrow</i>
                Run
            </li>
            <li>
                <i class="material-icons">save</i>
                Save
            </li>
        </ul>
    </nav>
    <section class="wrap-code">
        <div class="html">
            <div>
                <textarea placeholder="html" [(ngModel)]="html"></textarea>
                <pre><code (highlighted)="onHighlight($event)"
                           [highlight]="html"></code></pre>
            </div>
        </div>
        <div class="style">
            <div>
                <textarea placeholder="style" [(ngModel)]="style"></textarea>
                <pre><code contenteditable="true" (highlighted)="onHighlight($event)"
                           (input)="onInputCode($event, 'style')"
                           (blur)="onBlurCode('style')"
                           [highlight]="style"></code></pre>
            </div>
        </div>
        <div class="script">
            <div>
                <textarea placeholder="script" [(ngModel)]="script"></textarea>
                <pre><code contenteditable="true" (highlighted)="onHighlight($event)"
                           (input)="onInputCode($event, 'script')"
                           (blur)="onBlurCode('script')"
                           [highlight]="script"></code></pre>
            </div>
        </div>
        <div class="result">
            <iframe [src]="result | safe"></iframe>
        </div>
    </section>
</section>