@import "variables";

$tablet-screen: 768px;
$mobile-screen: 320px;
$grid-area-html: html;
$grid-area-js: js;
$grid-area-css: css;
$grid-area-view: view;
$grid-areas: $grid-area-html, $grid-area-js, $grid-area-css, $grid-area-view;

.wrap-code {
  display: grid;
  grid-template-areas: "#{$grid-area-html} #{$grid-area-js} #{$grid-area-css}" "#{$grid-area-view} #{$grid-area-view} #{$grid-area-view}";
  grid-gap: 10px;
  div {
    padding: 20px;
    font-size: 14px;
    @for $i from 1 through length($grid-areas) {
      &:nth-child(#{$i}) {
        grid-area: nth($grid-areas, $i);
      }
    }
  }

}

@media screen and (max-width: $tablet-screen) {
  .wrap-code {
    grid-template-areas: "#{$grid-area-html} #{$grid-area-js}" "#{$grid-area-css} #{$grid-area-view}";
  }
}

@media screen and (max-width: $mobile-screen) {
  .wrap-code {
    grid-template-areas: "#{$grid-area-html}" "#{$grid-area-js}" "#{$grid-area-css}" "#{$grid-area-view}";
  }
}
