<form [formGroup]="form" (ngSubmit)="submit()">
    <h1 mat-dialog-title>Create project</h1>
    <div mat-dialog-content>
        <div class="form-row">
            <label for="nameInput">Name:</label>
            <input class="form-row__input" id="nameInput" type="text" formControlName="name">
        </div>
        <mat-error *ngIf="form.get('name').hasError('maxlength')">
            Max name length is 50 symbols.
        </mat-error>
        <mat-error *ngIf="form.get('name').touched && form.get('name').hasError('required')">
            Name is required.
        </mat-error>
        <div class="form-row">
            <label for="typeInput">Type:</label>
            <select class="form-row__input" id="typeInput" formControlName="description">
                <option
                        *ngFor="let type of projectTypes"
                        [value]="type"
                >{{ type }}
                </option>
            </select>
        </div>
        <div class="form-row">
            <label for="visibilityInput">Visibility:</label>
            <select class="form-row__input" id="visibilityInput" formControlName="visibility">
                <option value="false">Private</option>
                <option value="true">Public</option>
            </select>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button
                class="btn-cancel"
                type="button"
                (click)="onNoClick()"
        >Cancel
        </button>
        <button mat-raised-button
                [disabled]="form.invalid"
                type="submit"
        >Create
        </button>
    </div>
</form>
